/*This is a style sheet for FixandStyle.html*/

/*LINK STYLE*/

a {
    color: green;
  }

  a:hover {
    color: red;
  }    

  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }




  /*DIV*/

  .div1 {
    
    background-color: #99AAFF;
  }

  .div2 {
    background-color: yellow;
  }

  /*CLASSES*/


.h1 {
    color: white;
}

  .h2 {
    color: blue;
}

.h4 {
    color: yellow;
    background-color: green;
}

.greenp {
    background-color: springgreen;
}

.redclass {
    color: red;
}

.spanstyle {
    color: orange;
}

.spanstyle2 {
    color: blue;
}